html {
    --s: 150px; 
    --c1: #2d2c2a;
    --c2: #000000;
  
    --_g: 
       var(--c1) 0%  5% ,var(--c2) 6%  15%,var(--c1) 16% 25%,var(--c2) 26% 35%,var(--c1) 36% 45%,
       var(--c2) 46% 55%,var(--c1) 56% 65%,var(--c2) 66% 75%,var(--c1) 76% 85%,var(--c2) 86% 95%,
       #0000 96%;
    background:
      radial-gradient(50% 50% at 100% 0,var(--_g)),
      radial-gradient(50% 50% at 0 100%,var(--_g)),
      radial-gradient(50% 50%,var(--_g)),
      radial-gradient(50% 50%,var(--_g)) calc(var(--s)/2) calc(var(--s)/2)
      var(--c1);
    background-size: var(--s) var(--s);
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 350px;
  }
  
  .login-container h2 {
    margin-bottom: 20px;
  }
  
  .login-container form {
    display: flex;
    flex-direction: column;
  }
  
  .login-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-container button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-container button:hover {
    background-color: #0056b3;
  }
  